@model IEnumerable<Document_Management_Application.Models.Document>
@{
    ViewBag.Title = "Historique des Demandes ";
}
<br />
<br />
<h1 style="padding-top:5%; text-align:center;">Historique des Demandes</h1>

<hr />

<br />
<hr style="padding-top:1%;" />
<div class="container">
    <div class="d-flex justify-content-center">
        @Html.ActionLink("Demandes Acceptées", "Accepted", "List", null, new { @class = "btn btn-primary m-3" })
        @Html.ActionLink("Demandes Refusées", "Refused", "List", null, new { @class = "btn btn-primary m-3" })
    </div>
    <br />

    <table class="table" id="Document">
        <thead>
            <tr>

                <th>Type de la demande</th>
                <th>Etudiant</th>
                <th>Statut de la demande</th>
                <th>Date de création</th>
                <th></th>
                <th></th>

                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>


            @foreach (var Document in Model)
            {
                <tr>

                    <td>@Document.Type</td>
                    <td>@Document.Etudiant.Nom @Document.Etudiant.Prenom </td>
                    @if (Document.Status == 0)
                    {
                        <td>En Attente </td>

                    }
                    else if (Document.Status == 2)
                    {
                        <td>Refusée </td>
                    }
                    else
                    {
                        <td>Acceptée </td>
                    }
                    <td>@Document.DateCreation</td>
                    <td>

                        @using (Html.BeginForm("CreateDocument",
                              "List",
                              FormMethod.Get,
                              new { enctype = "multipart/form-data" }))

                        {
                            <div class="mt-3">
                                <input type="text" hidden value=@Document.Id name="k" />
                                <input type="text" hidden value=@Document.EtudiantId name="i" />
                                <button type="submit" id="submit" class="btn-outline-primary btn-sm">Telecharger</button>
                            </div>
                        }
                    </td>
                    <td>
                        @if (Document.Status == 0)
                        {
                            <div>
                                @using (Html.BeginForm("SendRefusedEmailAsync",
                                       "List",
                                       FormMethod.Get,
                                       new { enctype = "multipart/form-data" }))
                                {
                                    <div class="mt-3">
                                        <input type="text" hidden value=@Document.EtudiantId name="j" />
                                        <input type="text" hidden value=@Document.Id name="d" />
                                        <button type="submit" id="submit" class="btn btn-danger btn-sm">Refuser</button>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {

                        }
                    </td>



                    <td>
                        @if (Document.Status == 0)
                        {
                            <div>
                                @using (Html.BeginForm("SendHtmlEmailAsync",
                                         "List",
                                         FormMethod.Post,
                                         new { enctype = "multipart/form-data" }))
                                {

                                    <div class="mt-3">
                                        <input type="text" hidden value=@Document.EtudiantId name="g" />
                                        <input type="text" hidden value=@Document.Id name="b" />
                                        <input type="button" id="f2.@Document.Id" onclick="fct(@Document.Id)" class="btn btn-success btn-sm" value="accepter" />
                                        <input type="file" class="d-none" id="f1.@Document.Id" name="file" />
                                        <button type="submit" id="f3.@Document.Id" class="d-none">send</button>
                                    </div>


                                }
                            </div>
                        }
                        else
                        {

                        }
                    </td>
                    <td>
                        <div class="mt-3">
                            <input value="Plus infos" type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModal_@Document.Id" />
                        </div>

                                            <div class="modal fade" id="exampleModal_@Document.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Information d'etudiant</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <ul>
                                            <li>Nom : @Document.Etudiant.Nom</li>
                                            <li>Prenom : @Document.Etudiant.Prenom</li>
                                            <li>Email : @Document.Etudiant.Email</li>
                                            <li>Code d'apogee : @Document.Etudiant.NumApogee </li>
                                            <li>CIN : @Document.Etudiant.Cin </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </td>

                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Document').DataTable();
        });
    </script>
    <script>
        @*$('#f2').click(function () {
            console.log("OK");
            $('#f1').removeClass('invisible').addClass('');
            $('#f2').removeClass('btn btn-success btn-sm').addClass('invisible');
            $('#f3').removeClass('invisible').addClass('btn btn-success btn-sm');

        });*@

        function fct(id) {
            console.log(id);
            let f2 = document.getElementById('f2.'+id);
            let f1 = document.getElementById('f1.'+id);
            let f3 = document.getElementById('f3.'+id);
            f1.classList.remove('d-none');
            @*f1.classList.add(' ');*@
            console.log(f2);
            f2.classList.remove('btn');
            f2.classList.remove('btn-success');
            f2.classList.remove('btn-sm');
            f2.classList.add('d-none');
            f3.classList.remove('d-none');
            f3.classList.add('btn');
            f3.classList.add('btn-success');
            f3.classList.add('btn-sm');


        }
    </script>
}